.beerCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
    max-height: 300px;
    border-radius: 30px;
    overflow: hidden;
    border: 10px black solid;
    padding: 1rem;
    text-align: center;
    margin: 0%;
    background-color: white
}

.tagline {
    font-style: italic;
    font-size: small;
    font-weight: bold;
    background-color: white

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 30px; 
    height: auto;
    background-color: white
}


.name {
    background-color: white

}

.description {
    font-weight: bold;
    overflow-y: scroll;
    background-color: white
}

.first_brewed{
    font-size: small;
    font-weight: bold;
    background-color: white

}