.navBar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30%;
}

button {
    display: flex;
    flex-direction: column;
    column-span: all;
    border: 5px black solid;
    border-radius: 30px;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color : #C59FC9; 
}

input {
    border: 5px black solid;
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #C59FC9;
}
