.navBar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
}

button {
  
    border: 5px black solid;
    border-radius: 35px;
    font-weight: bolder;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color : #C59FC9; 
    font-size: medium;
}

input {
    border: 5px black solid;
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #C59FC9;
    
}

@media (min-width: 800px) {

    .navBar{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 30%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    button {
      
        border: 5px black solid;
        border-radius: 35px;
        font-weight: bolder;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color : #C59FC9; 
        font-size: medium;
        max-width: 230px;
        max-height: 60px;
    }
    
    input {
        border: 5px black solid;
        border-radius: 30px;
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: #C59FC9;
        max-width: 192px;
        max-height: 60px;
    }


}
